@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-bg: #252628;
  --color-bgLight: #5B5B5B;
  --color-success: #029008;
  --color-danger: #AF0505;
  --color-gray: #646570;
  --color-redLight: #DDA9A9;
  --color-lowPrio: #46F7B7;
  --color-lowPrioText: #096343;
  --color-mediumPrio: #F5EB88;
  --color-mediumPrioText: #653408;
  --color-highPrio: #FFA775;
  --color-highPrioText: #702D08;
  --color-veryHighPrio: #F27F77;
  --color-veryHighPrioText: #5F0F0B;
  
  --font-family-poppins: 'Poppins', system-ui, sans-serif;
}